#!/bin/sh

#1.) Copy this in the folder where you will do the analysis
#2.) Update the variables below according to your file names

#Add the variables here
#This folder must exist
#mkdir /scratch/users/sprehei1@jhu.edu/tmp
#add that folder to the TMPDIR variable
#has to be the full path (maybe with pwd -P to see true path). Don't use relative path
export TMPDIR='/scratch4/sprehei1/tmp'

#Define the table and reps, either single run DADA2 output, or merged table
TABLE=merged_dada2_MicrobIEM_hits_removed_no_euks_biomass_exp_group.qza
REPS=merged_dada2_MicrobIEM_hits_removed_no_euks_biomass_exp_group_reps.qza
TAXONOMY=emp_paired_MPA_taxonomy.qza

#Look at the sequencing depth of the samples
#Choose the most appropriate depth
#Either the lowest count in *dir/*count.txt or 5000 (minimum) which ever is higher
DEPTH=30947
#Define prefix for core diversity metrics
CORE=cleaned_grouped_metrics
#Name of Keimee checked, qiime2 validated mapping file (combined for multiple)
#Make this manually by merging samples by OriginalName and adding the AnalysisGroups
METADATA=sample-metadata.tsv_biomass_exp_group.txt
#Output file name for everything but diversity core metrics
PREFIX=cleaned_grouped_MPA

#Get the current classifier
#If it exists in this folder, comment out the next line
#Otherwise, this will download and then set the variable to the name
#wget http://data.qiime2.org/2018.8/common/gg-13-8-99-515-806-nb-classifier.qza
CLASSI=../../db/V4-V5_classifier.qza

echo "Variables imported"


