#!/bin/sh

#1.) Copy this in the folder where you will do the analysis
#2.) Update the variables below according to your file names

#Add the variables here
#This folder must exist
#mkdir /scratch/users/sprehei1@jhu.edu/tmp
#add that folder to the TMPDIR variable
#has to be the full path (maybe with pwd -P to see true path). Don't use relative path
export TMPDIR='/scratch4/sprehei1/tmp'

#Folder with bray curtis and weighted unifrac matrices
TAXA=emp_paired_MPA_taxonomy.qza
TABLE=merged_dada2_MicrobIEM_hits_removed_no_euks_biomass_exp_group.qza
PREFIX=FAPROTAX_analysis
#Make this manually by merging samples by OriginalName and adding the AnalysisGroups
METADATA=sample-metadata.tsv_biomass_exp_group.txt
#Output file name for everything but diversity core metrics
RAREDEPTH=30497
COL1=AnalysisGroup2
COL2=Inhibitor

#Get FAPROTAX only once. If this is already complete, remove the following lines
wget https://pages.uoregon.edu/slouca/LoucaLab/archive/FAPROTAX/SECTION_Download/MODULE_Downloads/CLASS_Latest%20release/UNIT_FAPROTAX_1.2.12/FAPROTAX_1.2.12.zip

unzip FAPROTAX_1.2.12.zip
#End


echo "Variables imported"


