#!/bin/sh

#1.) Copy this in the folder where you will do the analysis
#2.) Update the variables below according to your file names

#Add the variables here
#This folder must exist
#mkdir /scratch/users/sprehei1@jhu.edu/tmp
#add that folder to the TMPDIR variable
#has to be the full path (maybe with pwd -P to see true path). Don't use relative path
export TMPDIR='/scratch4/sprehei1/tmp'

#Folder with bray curtis and weighted unifrac matrices
TAXA=emp_paired_MPA_taxonomy.qza
TABLE=merged_dada2_MicrobIEM_hits_removed_no_euks_biomass_exp_group.qza
PREFIX=FinalTimepoint_analysis
SUFFIX=no_FINAL
#Make this manually by merging samples by OriginalName and adding the AnalysisGroups
METADATA=sample-metadata_biomass_exp_group_no_FINAL.txt
#Output file name for everything but diversity core metrics
RAREDEPTH=30497
COL1=Substrate
COL2=Inhibitor


echo "Variables imported"


