#!/bin/sh

#1.) Copy this in the folder where you will do the analysis
#2.) Update the variables below according to your file names

#Add the variables here
#This folder must exist
#mkdir /scratch/users/sprehei1@jhu.edu/tmp
#add that folder to the TMPDIR variable
#has to be the full path (maybe with pwd -P to see true path). Don't use relative path
export TMPDIR='/scratch4/sprehei1/tmp'

#Folder with bray curtis and weighted unifrac matrices
TAXA=emp_paired_MPA_taxonomy.qza
TABLE=no_final_analysis_test2_filtered.qza
PREFIX=ASV_analysis_dada2
SUFFIX=no_FINAL_ASV
#Make this manually
#Will filter keeping only samples in the metadata file
METADATA=sample-metadata_no_final_analysis2.tsv
#Output file name for everything but diversity core metrics
RAREDEPTH=30497
COL1=Substrate


echo "Variables imported"


